<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.mapper.SysUserMapper">
    <resultMap id="SysUserResultMap" type="com.company.project.model.SysUser"  autoMapping="true">
        <id column="id" property="id"/>
        <result column="password" property="password"/>
        <result column="username" property="username"/>
        <collection property="roles" column="{sys_user_id=id}" select="selectUserRoleByUserId"/>
    </resultMap>

    <resultMap id="SysRoleResultMap" type="com.company.project.model.SysRole">
        <id column="id" property="id"/>
        <result column="name" property="name" />
    </resultMap>

    <resultMap id="SysUserRoleResultMap" type="com.company.project.model.SysUserRole">
        <result column="id" property="id"/>
        <result column="sys_user_id" property="sysUserId"/>
        <result column="roles_id" property="rolesId"/>
    </resultMap>

    <select id="selectUserList" resultMap="SysUserResultMap">
        SELECT * FROM sys_user
    </select>

    <select id="selectList" resultMap="SysUserResultMap">
        SELECT * FROM sys_user
    </select>

    <select id="selectRoleList" resultMap="SysRoleResultMap">
        SELECT * FROM sys_role
    </select>

    <select id="selectUserRoleByUserId" resultMap="SysUserRoleResultMap">
        SELECT * FROM sys_user_roles WHERE sys_user_id = #{sys_user_id}
    </select>
</mapper>